In [1]:
import pandas as pd
print('Version:',pd.__version__)

Version: 2.2.3

In [2]:
list=[1,3,4,5,6,6]
myseries=pd.Series(list)
print(myseries)
print(myseries[3])

0    1
1    3
2    4
3    5
4    6
5    6
dtype: int64
5

In [3]:
a=[1,7,4]
myvar=pd.Series(a,index=["a","b","c"])
print(myvar)
print(myvar["b"])

a    1
b    7
c    4
dtype: int64
7

In [4]:
employee={
    "id":1,
    "name":"Lavanya",
    "email":"lavanya@1",
    "address":"mysuru",
    "salary":98000
}
data=pd.Series(employee)
print(data)
print("id",data["id"])
print("name",data["name"])

id                 1
name         Lavanya
email      lavanya@1
address       mysuru
salary         98000
dtype: object
id 1
name Lavanya

In [5]:
sample={
    "id":[1,2,3,4],
    "name":["X","Y","Z","A"]
}
df=pd.DataFrame(sample)
print(df)
print(df.loc[0])

   id name
0   1    X
1   2    Y
2   3    Z
3   4    A
id      1
name    X
Name: 0, dtype: object

In [6]:
print(df.loc[[0,2]])#getting index based access

   id name
0   1    X
2   3    Z

In [7]:
sample = {
    "id" : [1, 2, 3, 4,],
    "name" : ["A", "B", "C", "D"]
}
df = pd.DataFrame(sample)
 
print(df)
print(df.loc[0])
print(df.iloc[0, 1])
print(df.loc[0])

   id name
0   1    A
1   2    B
2   3    C
3   4    D
id      1
name    A
Name: 0, dtype: object
A
id      1
name    A
Name: 0, dtype: object

In [8]:
user_data = {
    "name" : [ "alex", "catty", "bob"],
    "age" : [23, 24, 25],
    "salary" : [4556, 7567, 57567],
    "email" : ["alex@gamil", "cat@gmail.com", "bob@gmail.com"]
}
 
df1 = pd.DataFrame(user_data)
print(df1)

    name  age  salary          email
0   alex   23    4556     alex@gamil
1  catty   24    7567  cat@gmail.com
2    bob   25   57567  bob@gmail.com

In [9]:
data=[
    ["Alice",25,"New York"],
     ["BOB",30,"Los angeles"],
     ["Chine",40,"USA"],
     ["Diana",50,"Canada"]
]
df=pd.DataFrame(data,columns=["Name","Age","City"])
print(df)

    Name  Age         City
0  Alice   25     New York
1    BOB   30  Los angeles
2  Chine   40          USA
3  Diana   50       Canada

In [10]:
student_data=pd.read_csv('MOCK_DATA.csv')
print(student_data)

     id               name                      email      gender  grades
0     1      Maren Mayhead  mmayhead0@themeforest.net     Agender       7
1     2       Siffre Wiper          swiper1@webmd.com        Male       7
2     3    Marje Sapsforde  msapsforde2@geocities.com      Female       3
3     4  Claribel Prestage      cprestage3@utexas.edu      Female       4
4     5      Giana Tweddle           gtweddle4@gov.uk      Female       9
..  ...                ...                        ...         ...     ...
95   96  Georgianna Ubanks   gubanks2n@privacy.gov.au      Female       6
96   97        Debbi Cogin     dcogin2o@clickbank.net  Non-binary       2
97   98    Farley Sheraton  fsheraton2p@clickbank.net        Male      10
98   99    Jephthah Gaspar          jgaspar2q@ihg.com        Male       8
99  100        Tiler Tiddy        ttiddy2r@google.com        Male       1

[100 rows x 5 columns]

In [13]:
student_data=pd.read_csv('MOCK_DATA (1).csv')
print(student_data)

     id                  name                          email   gender  grades
0     1      Velvet O'Corrane         vocorrane0@dedecms.com   Female     1.6
1     2      Maryanne Zannuto       mzannuto1@mayoclinic.com   Female     4.8
2     3      Leighton Estable     lestable2@businesswire.com     Male     3.5
3     4           Carlo Scott        cscott3@theguardian.com     Male     8.7
4     5        Adamo Skerritt   askerritt4@blogtalkradio.com     Male     4.1
..  ...                   ...                            ...      ...     ...
95   96  Kimberley Kleinlerer       kkleinlerer2n@sfgate.com   Female     6.7
96   97        Dame Broadbere  dbroadbere2o@businesswire.com     Male     6.6
97   98        Sylvan Simison     ssimison2p@istockphoto.com     Male     2.5
98   99         Renaud Leamon             rleamon2q@webs.com     Male     4.8
99  100        Chilton Arnely             carnely2r@time.com  Agender     3.3

[100 rows x 5 columns]

In [15]:
student_data.head()
print(student_data.head())

   id              name                         email  gender  grades
0   1  Velvet O'Corrane        vocorrane0@dedecms.com  Female     1.6
1   2  Maryanne Zannuto      mzannuto1@mayoclinic.com  Female     4.8
2   3  Leighton Estable    lestable2@businesswire.com    Male     3.5
3   4       Carlo Scott       cscott3@theguardian.com    Male     8.7
4   5    Adamo Skerritt  askerritt4@blogtalkradio.com    Male     4.1

In [16]:
print(student_data.to_string())

     id                  name                            email       gender  grades
0     1      Velvet O'Corrane           vocorrane0@dedecms.com       Female     1.6
1     2      Maryanne Zannuto         mzannuto1@mayoclinic.com       Female     4.8
2     3      Leighton Estable       lestable2@businesswire.com         Male     3.5
3     4           Carlo Scott          cscott3@theguardian.com         Male     8.7
4     5        Adamo Skerritt     askerritt4@blogtalkradio.com         Male     4.1
5     6          Page Creenan               pcreenan5@imdb.com         Male     3.8
6     7           Calli Newns             cnewns6@virginia.edu       Female     8.5
7     8          Delcina Kelf               dkelf7@nytimes.com       Female     9.9
8     9   Nathanael Strudwick              nstrudwick8@usa.gov         Male     5.2
9    10         Randell Bevir             rbevir9@netscape.com         Male     8.4
10   11       Devondra Simnor            dsimnora@engadget.com       Female     5.5
11   12            Wini Honig               whonigb@flavors.me       Female     3.0
12   13       Chelsea Statton          cstattonc@reference.com       Female     1.2
13   14   Allyson Aleksandrov          aaleksandrovd@wufoo.com       Female     7.7
14   15         Binky Riddick            briddicke@myspace.com         Male     3.5
15   16        Merridie Orvis          morvisf@miibeian.gov.cn       Female     3.2
16   17      Pembroke Greeson         pgreesong@opensource.org         Male     1.8
17   18        Marvin Justham           mjusthamh@geocities.jp         Male     1.5
18   19      Linet Braycotton     lbraycottoni@list-manage.com      Agender     3.4
19   20      Mandie Philbrick             mphilbrickj@uiuc.edu       Female     7.7
20   21        Craig Chrismas     cchrismask@timesonline.co.uk         Male     6.8
21   22        Selene Gillani               sgillanil@sohu.com       Female     3.6
22   23      George Dumbleton               gdumbletonm@360.cn       Female     7.0
23   24          Antony Clegg            acleggn@delicious.com         Male     7.7
24   25         Alica Roblett          arobletto@imageshack.us       Female     4.5
25   26          Iorgo Oloman             iolomanp@auda.org.au         Male     8.2
26   27     Perkin Ellsworthe           pellswortheq@salon.com         Male     9.2
27   28          Ferdie Foran                  fforanr@ovh.net         Male     9.1
28   29         Cynthy McWhan         cmcwhans@tripadvisor.com       Female     2.0
29   30        Kain Ivanichev         kivanichevt@so-net.ne.jp         Male     9.0
30   31       Tynan Pennicard  tpennicardu@cargocollective.com         Male     1.3
31   32      Michell Farraway       mfarrawayv@marketwatch.com       Female     7.7
32   33           Isak Botger            ibotgerw@trellian.com   Non-binary     8.8
33   34        Reggi Bummfrey                 rbummfreyx@ow.ly       Female     1.9
34   35          Alvy Lantuff            alantuffy@blogger.com         Male     8.0
35   36        Vincents Wooff               vwooffz@disqus.com         Male     2.3
36   37       Martyn Dumphrey      mdumphrey10@hugedomains.com         Male     3.1
37   38          Rick Paradis         rparadis11@bloomberg.com         Male     7.6
38   39      Brewster Jugging         bjugging12@posterous.com         Male     9.7
39   40   Toinette Regenhardt   tregenhardt13@odnoklassniki.ru       Female     1.8
40   41       Shayla Carberry              scarberry14@mac.com       Female     3.3
41   42         Lorant Newcom        lnewcom15@theatlantic.com         Male     7.4
42   43         Maddie Foulis            mfoulis16@pcworld.com         Male     3.1
43   44         Dill Howcroft     dhowcroft17@biblegateway.com         Male     2.5
44   45         Lenci Macbane               lmacbane18@dot.gov         Male     4.4
45   46         Gawen Burdass     gburdass19@independent.co.uk         Male     7.0
46   47        Robinett Okell               rokell1a@upenn.edu       Female     3.7
47   48        Swen Rosellini             srosellini1b@soup.io         Male     7.3
48   49      Rodolph Benjamin          rbenjamin1c@t-online.de         Male     9.1
49   50     Wakefield Guilayn    wguilayn1d@barnesandnoble.com         Male     4.2
50   51    Antonetta Brigshaw              abrigshaw1e@loc.gov       Female     4.4
51   52         Teddi Turfrey         tturfrey1f@google.com.br       Female     4.9
52   53       Berenice Farden         bfarden1g@vistaprint.com       Female     9.2
53   54     Xylina Starsmeare    xstarsmeare1h@hugedomains.com       Female     2.5
54   55       Walden Glassard          wglassard1i@jiathis.com         Male     3.7
55   56        Ilaire Steptow          isteptow1j@netvibes.com         Male     8.5
56   57        Korella Spoole               kspoole1k@fema.gov       Female     6.9
57   58      Jamison Schimpke     jschimpke1l@reverbnation.com         Male     1.1
58   59        Rhianna Heliet          rheliet1m@wikipedia.org  Genderqueer     9.5
59   60        Madella Weddup            mweddup1n@mozilla.com       Female     8.8
60   61          Casey Powers         cpowers1o@infoseek.co.jp       Female     5.1
61   62         Jolie Lemerle       jlemerle1p@tripadvisor.com       Female    10.0
62   63   Bernardine Dunbabin         bdunbabin1q@symantec.com       Female     4.5
63   64           Erwin Gutch              egutch1r@jalbum.net         Male     4.3
64   65       Gaylord Marxsen        gmarxsen1s@vistaprint.com         Male     5.8
65   66      Celisse Duinkerk         cduinkerk1t@buzzfeed.com  Genderfluid     8.8
66   67      Jaquenetta Major             jmajor1u@comcast.net       Female     3.9
67   68          Odie Randall        orandall1v@washington.edu         Male     1.3
68   69         Sib Dmitrovic     sdmitrovic1w@dagondesign.com       Female     1.3
69   70         Miles Ellwand       mellwand1x@marketwatch.com         Male     6.7
70   71        Kalli Tuckwood      ktuckwood1y@themeforest.net       Female     9.1
71   72    Kahaleel Roadnight     kroadnight1z@list-manage.com         Male     2.5
72   73        Ottilie Sorley         osorley20@eventbrite.com       Female     1.3
73   74          Jean Durrell        jdurrell21@infoseek.co.jp         Male     6.8
74   75       Parsifal Liddle             pliddle22@utexas.edu         Male     3.1
75   76        Haywood Ortiga              hortiga23@wiley.com         Male     3.9
76   77        Nomi Anthiftle             nanthiftle24@gnu.org       Female     2.5
77   78          Janot Gander               jgander25@ox.ac.uk       Female     2.9
78   79         Pauly Parsons                pparsons26@360.cn         Male     8.8
79   80     Donavon Ellicombe           dellicombe27@adobe.com         Male     9.2
80   81        Reamonn Tonner                 rtonner28@vk.com         Male     2.0
81   82          Lonna Crolla            lcrolla29@addthis.com       Female     4.2
82   83     Rhianna Gallymore       rgallymore2a@instagram.com       Female     4.9
83   84   Ruthann Tunnicliffe           rtunnicliffe2b@pbs.org       Female     5.6
84   85      Adiana Gullivent            agullivent2c@ucsd.edu       Female     7.5
85   86        Odette Stanyon         ostanyon2d@aboutads.info       Female     5.0
86   87            Evie Piser               episer2e@patch.com       Female     6.5
87   88         Gusty Ierland           gierland2f@yahoo.co.jp       Female     1.1
88   89      Dagny Allsobrook     dallsobrook2g@craigslist.org         Male     7.9
89   90     Gamaliel Dougliss             gdougliss2h@usgs.gov         Male     7.3
90   91          Traver Quigg          tquigg2i@guardian.co.uk     Bigender     8.1
91   92       Tiebout Linbohm           tlinbohm2j@4shared.com         Male     8.7
92   93             Joey Peto              jpeto2k@mozilla.com         Male     6.6
93   94          Enoch Jouhan         ejouhan2l@mayoclinic.com         Male     9.8
94   95          Calv Hearley         chearley2m@wordpress.org         Male     4.1
95   96  Kimberley Kleinlerer         kkleinlerer2n@sfgate.com       Female     6.7
96   97        Dame Broadbere    dbroadbere2o@businesswire.com         Male     6.6
97   98        Sylvan Simison       ssimison2p@istockphoto.com         Male     2.5
98   99         Renaud Leamon               rleamon2q@webs.com         Male     4.8
99  100        Chilton Arnely               carnely2r@time.com      Agender     3.3

In [17]:
print(student_data.tail(2))

     id            name               email   gender  grades
98   99   Renaud Leamon  rleamon2q@webs.com     Male     4.8
99  100  Chilton Arnely  carnely2r@time.com  Agender     3.3

In [18]:
print(student_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      100 non-null    int64
 1   name    100 non-null    object
 2   email   100 non-null    object
 3   gender  100 non-null    object
 4   grades  100 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB
None

In [19]:
student_data.describe()

               id      grades
count  100.000000  100.000000
mean    50.500000    5.428000
std     29.011492    2.704694
min      1.000000    1.100000
25%     25.750000    3.175000
50%     50.500000    4.950000
75%     75.250000    7.750000
max    100.000000   10.000000

In [21]:
student_data[['id','name','grades']].head() #reading selevted col

   id              name  grades
0   1  Velvet O'Corrane     1.6
1   2  Maryanne Zannuto     4.8
2   3  Leighton Estable     3.5
3   4       Carlo Scott     8.7
4   5    Adamo Skerritt     4.1

In [23]:
student_data['grades'].describe()

count    100.000000
mean       5.428000
std        2.704694
min        1.100000
25%        3.175000
50%        4.950000
75%        7.750000
max       10.000000
Name: grades, dtype: float64